<h2>Gestionnaire de Medias</h2>
<dl>
    <dt>
        Auteur
    </dt>

    <dd>
        Edouard St-Martin <br />
        Collège Lionel-Groulx <br />
    </dd>

    <dt>
        Description
    </dt>

    <dd>
        Application Web transactionnelle offrant une interface CRUD pour gérer une liste de medias conservée dans un fichier local au serveur en format JSON.
    </dd>

    <dt>
        Date de mise à jour
    </dt>

    <dd>
        Février 2026
    </dd>

</dl>